* {
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.layout {
    width: 100%;
    overflow: auto;
}

.block {
    background-color: white;
    border: 2px solid red;
    margin: 10px;
    min-height: 100px;
}

/* Desktop Layout (> 750px) */
.block1 {
    float: left;
    width: 20%;
    min-height: 100vh;
}

.b2, .b3, .b4, .b5 {
    float: right;
    width: calc(19% - 20px);
    min-height: 180px;
}

.b2 {
    clear: right;
}

.b8, .b7 {
    float: right;
    width: calc(38% - 20px);
    min-height: 80px;
}

.b6 {
    clear: right;
}

.b6 {
    float: right;
    width: calc(38% - 20px);
    min-height: 180px;
}

.b9 {
    float: right;
    width: calc(50% - 20px);
    min-height: 180px;
    
    clear: right;
}

.b10 {
    float: right;
    width: calc(26% - 20px);
    min-height: 180px;
    
}

/* Mobile Layout (max-width: 750px) */
@media (max-width: 750px) {
    .block1, .b2, .b3, .b4, .b5, .b6, .b7, .b8, .b9, .b10 {
        float: none;
        width: calc(100% - 20px);
        min-height: 33vh;
        clear: both;
    }
}